<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ppn.com.mp3down" android:versionCode="2" android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>

        <activity
            android:name="gui.Splash"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="gui.Ajustes"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/VentanaAjustes"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />
        <activity
            android:name=".Historial"
            android:label="@string/title_activity_historial"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ppn.com.mp3down.Principal" />
        </activity>
        <activity
            android:name=".Descargas"
            android:label="@string/title_activity_descargas"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ppn.com.mp3down.Principal" />
        </activity>
        <activity
            android:name="gui.Detalles"
            android:theme="@style/Theme.Transparent"
            android:label="@string/title_activity_detalles"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ppn.com.mp3down.Principal" />
        </activity>

        <receiver android:name=".NotificationBroadcast" >
            <intent-filter>
                <action android:name="notification.play" />
            </intent-filter>
        </receiver>

    </application>


</manifest>
